.Weather {
  margin-top: 20px;
  border: 1px solid #3b3566;
  font-family: "Ms Madi", cursive;
  padding-bottom: 10px;
}

.Weather form {
  margin: 10px;
}

.Weather h1 {
  color: #202124;
  font-weight: bold;
  font-size: 30px;
  line-height: 64px;
  margin-bottom: 0px;
  margin-left: 30px;
}
.Weather img {
  height: 64px;
  float: left;
  margin-left: 30px;
}
.Weather .temperature {
  font-weight: 400;
  line-height: 64px;
  font-size: 64px;
}
.Weather .unit {
  display: inline;
  font-size: 16px;
  font-stretch: 100%;
  line-height: normal;
  position: relative;
  top: -32px;
  margin-left: 5px;
}
.Weather li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  list-style: none;
}
